---
layout: base.njk
---
<div class="page-title-section">
  <h1 id="title" class="page-title">{{ title }}</h1>
  <img src="{{ "/assets/images/page.png" | url }}" alt="" class="hero-img"/>
</div>
<div class="container section-dark">
  {{ content | safe }}
</div>
